@media (max-width: 1600px) {
    .banner__img img {
        max-width: 660px;
    }
}
@media (max-width: 1450px) {
    .banner__text:before {
        right: -27%;
    }
}
@media (max-width: 1300px) {
    .banner__text:after {
        right: 0;
    }
}
@media (max-width: 1250px) {
    .banner__text:before {
        right: -7%;
    }
    .order__item-title {
        font-size: 22px;
        left: 50px;
    }
    .order__item-img {
        max-width: 300px;
        width: 100%;
        height: 340px;
    }
    .order__item {
        padding: 40px 50px;
    }
}
@media (max-width: 1180px) {
    .banner__img img {
        max-width: 560px;
    }
    .banner__inner {
        max-width: 460px;
    }
    .banner__title {
        font-size: 70px;
    }
    .header__menu {
        cursor: pointer;
    }
    .header__burger {
        display: block;
    }
    .header__list {
        width: 300px;
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 30px;
        z-index: 2;
        top: 33px;
        li {
            display: block;
            & + li {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }
    .header {
        padding: 20px 0;
        background-color: #fff;
    }
    .reviews:before, .reviews:after {
        width: 449px;
    }
}
@media (max-width: 1030px) {
    .banner__img img {
        max-width: 460px;
    }
    .banner__title {
        font-size: 60px;
    }
    .cakes__item {
        min-height: 255px;
    }
    .cakes__item-big {
        min-height: 550px;
    }
    .order__item-img {
        max-width: 210px;
        height: 240px;
    }
    .order__item-info {
        font-size: 14px;
        max-width: 275px;
    }
    .order__item-slider {
        width: 80%;
    }
    .order__size-info {
        font-size: 16px;
    }
    .order__decor-box .slick-prev {
        left: -20px;
    }
    .benefits__img {
        margin-right: 20px;
    }
}
@media (max-width: 971px) {
    .footer__inner {
        text-align: center;
       display: block;
       .logo {
            margin-right: 0;
            img {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }
    .footer__menu {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .order__decor-img {
        min-height: 200px;
    }
}
@media (max-width: 930px) {
    .banner__text {
        background-position: 82% 48%;
    }
    .banner__text:before {
        right: 10%;
    }
    .banner__text:after {
        right: 12%;
    }
    .reviews:before, .reviews:after {
        width: 349px;
    }
}
@media (max-width: 850px) {
    .banner__text {
        max-width: 320px;
    }
    .banner__text:before {
        right: 0%;
    }
    .banner__text:after {
        right: -10%;
    }
    .banner__text {
        background-position: center right;
    }
    .banner__img img {
        max-width: 420px;
    }
    .banner__title {
        font-size: 50px;
    }
    .banner__subtitle {
        font-size: 35px;
    }
    .cakes__item {
        min-height: 205px;
        padding: 15px 25px;
    }
    .cakes__item-big {
        min-height: 450px;
    }
    .cakes__item-title {
        margin-bottom: 0;
    }
    .cakes__item-watch {
        display: none;
    }
    .order__item-img {
        margin-right: 20px;
    }
    .order__item-title {
        font-size: 18px;
    }
    .order__item-info {
        max-width: 200px;
    }
    .order__size-img {
        margin-bottom: 20px;
    }
    .reviews__item-img {
        width: 180px;
        height: 180px;
        margin-right: 20px;
    }
    
}
@media (max-width: 750px) {
    .banner__text:before,
    .banner__text:after {
        content: none;
    }
    .banner__inner {
        max-width: 100%;
    }
    .banner__text {
        max-width: 100%;
        text-align: center;
        padding-top: 45%;
        padding-bottom: 50px;
        background-image: none;
    }
    .banner__img {
        overflow: hidden;
        img {
            transform: rotate(-90deg);
            max-width: 750px;
            position: relative;
            top: -475px;
        }
    }
    .banner__presents {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .order__item-title {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .order__item-slider .slick-arrow {
        display: none;
    }
    .order__item-slider {
        width: 100%;
    }
    .order__item-img {
        max-width: 100%;
        margin-right: 0;
        background-position: center;
        margin-bottom: 65px;
    }
    .order__item-info {
        max-width: 100%;
        text-align: center;
    }
    .order__item-price {
        text-align: center;
    }
    .order__decor-img {
        min-height: 160px;
    }
    .order__size-box, 
    .order__button-box {
        font-size: 14px;
    }
    .reviews:before, .reviews:after {
        display: none;
    }
    .benefits__box-bottom {
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        padding-bottom: 350px;
        .benefits__info {
            max-width: 100%;
            margin-top: 30px;
        }
        .section__title,
        .section__subtitle {
            text-align: center;
        }
        .benefits__img {
            margin-right: 0;
            position: absolute;
            bottom: -400px;
            z-index: -1;
            width: 120%;
            left: -16%;
        }
    }
    .steps__box {
        justify-content: center;
    }
    .steps__item {
        margin-bottom: 30px;
        flex-basis: calc(50% - 30px);
    }
    .contacts {
        background: none;
        padding: 50px 0;
    }
    .contacts__box-col {
        flex-basis: 100%;
        margin-bottom: 50px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .contacts__form {
        .btn {
            display: block;
            margin: 0 auto;
        }
    }
    .contacts__box-col+.contacts__box-col {
        margin-left: 0;
    }
    .contacts__list {
        text-align: center;
    }
}
@media (max-width: 650px) {
    .banner__img img {
        top: -435px;
    }
    .order__decor-box .slick-slide {
        margin-right: 0;
    }
    .order__decor-box {
        width: 100%;
    }
    .order__decor-item {
        max-width: 100%;
    }
    .order__summary-form .btn,
    .order__summary-input,
    .order__summary-col {
        width: 100%;
        text-align: center;
    }
    .reviews__item-img {
        width: 110px;
        height: 110px;
    }
    
    .about__box {
        flex-wrap: wrap;
    }
    .about__info {
        max-width: 100%;
        margin-right: 0;
        order: 1;
        .socials {
            display: none;
        }
    }
    .about__img {
        max-width: 60%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        img {
            margin-right: 35px;
        }
        .socials {
            display: block;
            li {
                margin-bottom: 30px;
                & + li {
                    margin-left: 0;
                }
            }
        }
    }
    .benefits__img-decor {
        display: none;
    }
    .benefits__info {
        max-width: 100%;
    }
    .benefits__item {
        justify-content: flex-start;
    }
}
@media (max-width: 600px) {
    .banner__text {
        padding-top: 35%;
    }
    .banner__img img {
        top: -475px;
    }
    .cakes__box {
        display: block;
        margin-left: 0;
    }
    .cakes__column-wide,
    .cakes__column-tigth {
        width: 100%;
    }
    .cakes__column {
        margin-left: 0;
    }
    .cakes__item {
        background-size: cover;
        background-position: 0 15%;
    }
    .cakes__item-big {
        min-height: 205px;
    }
    .benefits__box-bottom {
        padding-bottom: 250px;
    }
}
@media (max-width: 550px) {
    .banner__img img {
        top: -400px;
    }
    .reviews__item-img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .reviews__item-info {
        text-align: center;
    }
    .benefits__box-bottom {
        padding-bottom: 200px;
    }
    .steps__item {
        flex-basis: calc(100%);
        & + .steps__item {
            margin-left: 0;
        }
    }
}
@media (max-width: 500px) {
    .banner__img img {
        top: -370px;
    }
    .benefits__box-bottom {
        padding-bottom: 150px;
        .benefits__img {
            width: 131%;
            left: -21%;
        }
    }
    .contacts__list li a {
        display: block;
    }
}
@media (max-width: 450px) {
    .banner__img img {
        top: -330px;
    }
    .banner__presents {
        flex-direction: column;
        align-items: start;
    }
    .banner__natural,
    .banner__delivery {
        display: block;
        max-width: 100%;
    }
    .banner__natural {
        margin-bottom: 50px;
    }
    .banner__delivery:before {
        top: -18px;
    }
    .footer__list {
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
        }
    }
    .benefits__item {
        flex-wrap: wrap;
        text-align: center;
    }
    .benefits__item-img {
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .benefits__box-bottom {
        padding-bottom: 100px;
        .benefits__img {
            width: 138%;
            left: -26%;
        }
    }
}
@media (max-width: 400px) {
    .banner__img img {
        top: -295px;
    }
    .header__tel {
        display: none;
    }
    .header__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .header__list {
        right: -20px;
        text-align: center;
    }
    .benefits__box-bottom {
        padding-bottom: 100px;
        .benefits__img {
            width: 150%;
            left: -32%;
        }
    }
}
@media (max-width: 350px) {
    .banner__img img {
        top: -260px;
    }
    .benefits__box-bottom {
        padding-bottom: 100px;
        .benefits__img {
            bottom: -335px;
            width: 150%;
            left: -32%;
        }
    }
}
@media (max-width: 321px) {
    .benefits__box-bottom {
        padding-bottom: 100px;
        .benefits__img {
            bottom: -306px;
        }
    }
}